/* toolbar */
.mapeditor-toolbar-group{
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    border-radius: 4px;
}
.mapeditor-toolbar.h{
	font-size: 0px;/* white space after inline-block */
}

.mapeditor-toolbar.h .mapeditor-toolbar-group{
	margin-left: 15px;
	display:inline-block;
}

.mapeditor-toolbar.v .mapeditor-toolbar-group{
	margin-top: 15px;
	display: block;
}
.mapeditor-toolbar .mapeditor-toolbar-group.first{
	margin-left: 0px;
	margin-top:0px;
}
.mapeditor-toolbar-group a{
	background-color: #fff;
	background-image: url('/mapeditor/images/spritesheet.png');
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    line-height: 26px;
    
    text-align: center;
    text-decoration: none;
    color: black;
}
.mapeditor-toolbar.v a{
	display: block;
    border-bottom: 1px solid #ccc;
}
.mapeditor-toolbar.v a.first{
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.mapeditor-toolbar.v a.last{
	 border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: none;
}

.mapeditor-toolbar.h a{
	display: inline-block;
    border-right: 1px solid #ccc;
}

.mapeditor-toolbar.h a.first{
	border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.mapeditor-toolbar.h a.last{
	 border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: none;
}
.mapeditor-toolbar-group a:hover{
	background-color: #f4f4f4;
}
.mapeditor-toolbar-draw-polyline{
	background-position: -2px -2px;
}
.mapeditor-toolbar-draw-polygon{
	background-position: -31px -2px;
}
.mapeditor-toolbar-draw-circle{
	background-position: -92px -2px;
}
.mapeditor-toolbar-draw-rectangle{
	background-position: -62px -2px;
}
.mapeditor-toolbar-draw-marker{
	background-position: -122px -2px;
}
.mapeditor-toolbar-actions-save{
	background-position: -152px -2px;
}
.mapeditor-toolbar-actions-delete{
	background-position: -182px -2px;
}
.mapeditor-toolbar-actions-cancel{
	background-position: -362px -2px;
}


.mapeditor-toolbar-road-pointroad{
	background-position: -272px -2px;
}
.mapeditor-toolbar-road-arearoad{
	background-position: -332px -2px;
}
.mapeditor-toolbar-road-roadstoarea{
	background-position: -302px -2px;
}