<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <title>地图demo</title>
    <link rel="stylesheet" href="/mapeditor/css/leaflet/leaflet.css"/>
    <link rel="stylesheet" href="/mapeditor/css/leaflet/leaflet.draw.css"/>
    <link rel="stylesheet" href="/mapeditor/css/mapeditor.css"/>
    <script src="/js/lib/jquery-1.7.2.js"></script>
    <!--[if lt IE 9]> <script src="/mapeditor/lib/es5-shim.js"></script>
    <script src="/mapeditor/lib/es5-sham.js"></script><![endif]-->
    <script src="/mapeditor/lib/xhrRequest.js"></script>
    <script src="/mapeditor/lib/sylvester.js"></script>
    <script src="/mapeditor/leaflet/leaflet-src.js"></script>
    <script src="/mapeditor/leaflet/Leaflet.draw.js"></script>
    <script src="/mapeditor/leaflet/edit/Edit.Poly.js"></script>
    <script src="/mapeditor/leaflet/edit/Edit.SimpleShape.js"></script>
    <script src="/mapeditor/leaflet/edit/Edit.Circle.js"></script>
    <script src="/mapeditor/leaflet/edit/Edit.Rectangle.js"></script>
    <script src="/mapeditor/leaflet/draw/Draw.Feature.js"></script>
    <script src="/mapeditor/leaflet/draw/Draw.Polyline.js"></script>
    <script src="/mapeditor/leaflet/draw/Draw.Polygon.js"></script>
    <script src="/mapeditor/leaflet/draw/Draw.SimpleShape.js"></script>
    <script src="/mapeditor/leaflet/draw/Draw.Rectangle.js"></script>
    <script src="/mapeditor/leaflet/draw/Draw.Circle.js"></script>
    <script src="/mapeditor/leaflet/draw/Draw.Marker.js"></script>
    <script src="/mapeditor/leaflet/util/LatLngUtil.js"></script>
    <script src="/mapeditor/leaflet/util/GeometryUtil.js"></script>
    <script src="/mapeditor/leaflet/util/LineUtil.Intersect.js"></script>
    <script src="/mapeditor/leaflet/util/Polyline.Intersect.js"></script>
    <script src="/mapeditor/leaflet/util/Polygon.Intersect.js"></script>
    <script src="/mapeditor/leaflet/Control.Draw.js"></script>
    <script src="/mapeditor/leaflet/toolbar/Tooltip.js"></script>
    <script src="/mapeditor/leaflet/toolbar/Toolbar.js"></script>
    <script src="/mapeditor/leaflet/toolbar/EditToolbar.js"></script>
    <script src="/mapeditor/leaflet/toolbar/EditToolbar.Edit.js"></script>
    <script src="/mapeditor/leaflet/toolbar/EditToolbar.Delete.js"></script>
    <script src="/mapeditor/leaflet/toolbar/DrawToolbar.js"></script>
    <script src="/mapeditor/src/MapEditor.js"></script>
    <script src="/mapeditor/src/Map.js"></script>
    <script src="/mapeditor/src/Handler.js"></script>
    <script src="/mapeditor/src/handler/SelectRoad.js"></script>
    <script src="/mapeditor/src/handler/Delete.js"></script>
    <script src="/mapeditor/src/handler/PathDraggable.js"></script>
    <script src="/mapeditor/src/handler/PolylineMoveable.js"></script>
    <script src="/mapeditor/src/handler/PolylineRotateable.js"></script>
    <script src="/mapeditor/src/handler/CircleMoveable.js"></script>
    <script src="/mapeditor/src/Config.js"></script>
    <script src="/mapeditor/src/data/Connect.js"></script>
    <script src="/mapeditor/src/control/DataControl.js"></script>
    <script src="/mapeditor/src/util/State.js"></script>
    <script src="/mapeditor/src/group/Group.js"></script>
    <script src="/mapeditor/src/entity/Polygon.js"></script>
    <script src="/mapeditor/src/entity/Polyline.js"></script>
    <script src="/mapeditor/src/entity/Marker.js"></script>
    <script src="/mapeditor/src/util/Hash.js"></script>
    <script src="/mapeditor/src/data/Changes.js"></script>


    <script src="/mapeditor/src/mode/Mode.js"></script>
    <script src="/mapeditor/src/mode/DrawCircle.js"></script>
    <script src="/mapeditor/src/mode/DrawMark.js"></script>
    <script src="/mapeditor/src/mode/DrawPolygon.js"></script>
    <script src="/mapeditor/src/mode/DrawPolyline.js"></script>
    <script src="/mapeditor/src/mode/DrawRectangle.js"></script>
    <script src="/mapeditor/src/mode/SelectRoad.js"></script>
    <script src="/mapeditor/src/control/Toolbar.js"></script>
    <style>
        html, body {
            padding: 0;
            margin: 0;
            height: 100%;
        }

        ul, ol, li, dl, dt, dd {
            list-style: none;
            padding: 0;
            margin: 0
        }

        #map {
            height: 100%;
        }
    </style>
</head>

<body>
<div id="map"></div>
<script>
    var map = new ME.Map('map', {
        center: new L.LatLng(31.20410238002499, 121.43068313598633),
        zoom: 15
    });
    // 添加数据据控制
    map.addControl(new ME.DataControl());
    map.addControl(new ME.Control.Toolbar());

    $('.leaflet-dataset-list ul li .view').on('click',function () {
        var dataSetId = $(this).parent().attr('data-dataId'), group;
        if (!map.openedGroup.has(dataSetId)) {
            map.openedGroup.add(dataSetId,new ME.Group({
                _group_id : dataSetId,
                connect : new ME.Connect(map)
            }));
        }
        map.addLayer(map.openedGroup[dataSetId]);
        $(this).toggleClass('close open');
    }).toggle(function () {
                $(this).text('关闭');
                var dataSetId = $(this).parent().attr('data-dataId');
                map.openedGroup[dataSetId].open();
            }, function () {
                $(this).text('打开');
                var dataSetId = $(this).parent().attr('data-dataId');
                map.openedGroup[dataSetId].close();
            });

    $('.leaflet-dataset-list ul li .edit').on('click',function () {
        var dataSetId = $(this).parent().attr('data-dataId'), group;

        if (!map.openedGroup[dataSetId]) {
            map.openedGroup.add(dataSetId,new ME.Group({
                _group_id : dataSetId,
                connect : new ME.Connect(map)
            }));
        }
        map.addLayer(map.openedGroup[dataSetId]);
        map.editingGroup = map.openedGroup[dataSetId];
        map.openedGroup[dataSetId].on('close editDisable', function(){
            map.changes.clear();
        });

        $(this).toggleClass('enable disable');
    }).toggle(function(){
                $(this).text('禁止');
                var dataSetId = $(this).parent().attr('data-dataId');
                map.openedGroup[dataSetId].editAble();
            },function(){
                $(this).text('编辑');
                var dataSetId = $(this).parent().attr('data-dataId');
                map.openedGroup[dataSetId].editDisable();
            });

    var selectRoad = new ME.Handler.SelectRoad(map);

</script>
</body>
</html>