<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <title>地图demo</title>
    <link rel="stylesheet" href="/mapeditor/css/leaflet/leaflet.css"/>
    <link rel="stylesheet" href="/mapeditor/css/leaflet/leaflet.draw.css"/>
    <link rel="stylesheet" href="/mapeditor/css/leaflet/leaflet.contextmenu.css"/>
    <link rel="stylesheet" href="/mapeditor/css/mapeditor.css"/>
    <script src="/js/lib/jquery-1.8.3.min.js"></script>
    <!--[if lt IE 9]>
    <script src="/mapeditor/lib/es5-shim.js"></script>
    <script src="/mapeditor/lib/es5-sham.js"></script>
    <![endif]-->
    <script src="/mapeditor/lib/xhrRequest.js"></script>
    <script src="/mapeditor/lib/sylvester.js"></script>
    <script src="/mapeditor/leaflet/leaflet-src.js"></script>
    <script src="/mapeditor/leaflet/Leaflet.draw.js"></script>
    <script src="/mapeditor/leaflet/Leaflet.contextmenu-src.js"></script>
    <script src="/mapeditor/leaflet/edit/Edit.Poly.js"></script>
    <script src="/mapeditor/leaflet/edit/Edit.SimpleShape.js"></script>
    <script src="/mapeditor/leaflet/edit/Edit.Circle.js"></script>
    <script src="/mapeditor/leaflet/edit/Edit.Rectangle.js"></script>
    <script src="/mapeditor/leaflet/draw/Draw.Feature.js"></script>
    <script src="/mapeditor/leaflet/draw/Draw.Polyline.js"></script>
    <script src="/mapeditor/leaflet/draw/Draw.Polygon.js"></script>
    <script src="/mapeditor/leaflet/draw/Draw.SimpleShape.js"></script>
    <script src="/mapeditor/leaflet/draw/Draw.Rectangle.js"></script>
    <script src="/mapeditor/leaflet/draw/Draw.Circle.js"></script>
    <script src="/mapeditor/leaflet/draw/Draw.Marker.js"></script>
    <script src="/mapeditor/leaflet/util/LatLngUtil.js"></script>
    <script src="/mapeditor/leaflet/util/GeometryUtil.js"></script>
    <script src="/mapeditor/leaflet/util/LineUtil.Intersect.js"></script>
    <script src="/mapeditor/leaflet/util/Polyline.Intersect.js"></script>
    <script src="/mapeditor/leaflet/util/Polygon.Intersect.js"></script>
    <script src="/mapeditor/leaflet/Control.Draw.js"></script>
    <script src="/mapeditor/leaflet/toolbar/Tooltip.js"></script>
    <script src="/mapeditor/leaflet/toolbar/Toolbar.js"></script>
    <script src="/mapeditor/leaflet/toolbar/EditToolbar.js"></script>
    <script src="/mapeditor/leaflet/toolbar/EditToolbar.Edit.js"></script>
    <script src="/mapeditor/leaflet/toolbar/EditToolbar.Delete.js"></script>
    <script src="/mapeditor/leaflet/toolbar/DrawToolbar.js"></script>
    <script src="/mapeditor/src/MapEditor.js"></script>
    <script src="/mapeditor/src/Util.js"></script>
    <script src="/mapeditor/src/util/Hash.js"></script>
    <script src="/mapeditor/src/util/DataToLayers.js"></script>
    <script src="/mapeditor/src/Draw.js"></script>
    <script src="/mapeditor/src/draw/Draw.Polyline.js"></script>
    <script src="/mapeditor/src/draw/Draw.AssistLine.js"></script>
    <script src="/mapeditor/src/draw/Draw.AssistPolygon.js"></script>
    <script src="/mapeditor/src/draw/Draw.AssistMarker.js"></script>
    <script src="/mapeditor/src/draw/Draw.Polygon.js"></script>
    <script src="/mapeditor/src/draw/Draw.Marker.js"></script>
    <script src="/mapeditor/src/Map.js"></script>
    <script src="/mapeditor/src/Handler.js"></script>
    <script src="/mapeditor/src/handler/SelectRoad.js"></script>
    <script src="/mapeditor/src/handler/Delete.js"></script>
    <script src="/mapeditor/src/handler/PathDraggable.js"></script>
    <script src="/mapeditor/src/handler/PolylineMoveable.js"></script>
    <script src="/mapeditor/src/handler/PolylineRotateable.js"></script>
    <script src="/mapeditor/src/handler/CircleMoveable.js"></script>
    <script src="/mapeditor/src/handler/AreaSelectLayers.js"></script>
    <script src="/mapeditor/src/Config.js"></script>
    <script src="/mapeditor/src/data/Connect.js"></script>
    <script src="/mapeditor/src/data/Changes.js"></script>
    <script src="/mapeditor/src/control/DataControl.js"></script>
    <script src="/mapeditor/src/util/State.js"></script>
    <script src="/mapeditor/src/group/Group.js"></script>
    <script src="/mapeditor/src/Entity.js"></script>
    <script src="/mapeditor/src/entity/EditBind.js"></script>
    <script src="/mapeditor/src/entity/DataEditBind.js"></script>
    <script src="/mapeditor/src/entity/AssistLine.js"></script>
    <script src="/mapeditor/src/entity/AssistPolygon.js"></script>
    <script src="/mapeditor/src/entity/AssistMarker.js"></script>
    <script src="/mapeditor/src/entity/Polygon.js"></script>
    <script src="/mapeditor/src/entity/Polyline.js"></script>
    <script src="/mapeditor/src/entity/Marker.js"></script>
    <script src="/mapeditor/src/entity/Donut.js"></script>
    <script src="/mapeditor/src/edit/Edit.Poly.js"></script>
    <script src="/mapeditor/src/mode/Mode.js"></script>
    <script src="/mapeditor/src/mode/DrawCircle.js"></script>
    <script src="/mapeditor/src/mode/DrawMark.js"></script>
    <script src="/mapeditor/src/mode/DrawPolygon.js"></script>
    <script src="/mapeditor/src/mode/DrawPolyline.js"></script>
    <script src="/mapeditor/src/mode/DrawAssistLine.js"></script>
    <script src="/mapeditor/src/mode/DrawAssistPolygon.js"></script>
    <script src="/mapeditor/src/mode/DrawAssistMarker.js"></script>
    <script src="/mapeditor/src/mode/DrawRectangle.js"></script>
    <script src="/mapeditor/src/mode/SelectRoad.js"></script>
    <script src="/mapeditor/src/mode/AreaSelectRoad.js"></script>
    <script src="/mapeditor/src/mode/AreaSelectLayers.js"></script>
    <script src="/mapeditor/src/mode/BrowserMap.js"></script>
    <script src="/mapeditor/src/control/Toolbar.js"></script>
    <script src="/mapeditor/src/util/SelectRoad.js"></script>
    <script src="/sorting/Sorting.js"></script>
    <script src="/sorting/data/Connect.js"></script>
    <script src="/sorting/lib/paras.js"></script>
    <style>
        html, body {
            padding: 0;
            margin: 0;
            height: 100%;
        }

        .header {
            width: 100%;
            height: 50px;
            background: #eeeeee;
            border-bottom: 1px solid #ccc;
            font:normal 12px/50px arial;
        }

        .input {
            margin: 0;
            padding: 0;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            height: 24px;
            line-height: 24px;
            overflow: hidden;
            border: 1px solid #ddd;
            background: #fff;
            margin-left: 12px;
            font-size: 14px;
            vertical-align: middle;
            white-space: nowrap;
        }
        .polygonCode,.clientKey{
            width: 150px;
            overflow: hidden;
        }

        .button {
            display: inline-block;
            vertical-align: middle;
            height: 24px;
            line-height: 24px;
            border-radius: 5px;
            background: #aaa;
            color: #fff;
            text-align: center;
            font-family: '微软雅黑';
            cursor: pointer;
            padding: 0 15px;
            font-size: 12px;
        }

        .button:hover {
            background: #bbb;
        }
        .label{
            display: inline-block;
            vertical-align: middle;
            height: 24px;
            line-height: 24px;
            padding-left: 15px;
        }

        #map {
            width: 100%;
        }
    </style>

</head>
<body>
<script>
    $(document).ready(function () {
        function resizeHeight() {
            var h = $('body').innerHeight();
            $('#map').height(h - 51);
        }

        resizeHeight();
        $(window).on('resize', resizeHeight);

        $('.input').attr('title', function(){
            return $(this).text();
        });

        /**
         * 操作
         * @type {Sorting.Main}
         */
        var sorting = new Sorting.Main();
        var innerring = new ME.Polygon({latlngs:[],options:{noClip:true}});
        var middlering = new ME.Donut([[[], []]],{fillColor:"#f00",noClip:true});
        var outerring = new ME.Donut([[[], []]],{fillColor:"#0f0",noClip:true});
        var surroundcity = new ME.Donut([[[], []]],{fillColor:"#00f",noClip:true});
        var innerlatlngs, middlelatlngs, outerlatlngs, surroundlatlngs;
        var ringfn = function(name){
            var config = {
                        url: "http://192.168.1.210:8090/sorting_web/gate?sid=2010",
                        city: "上海",
                        name: name
                    },
                deferred = $.Deferred();
            var cb = function(data){
                var nds = data.data.dataSet.node,
                    latlngs = [];
                nds.map(function(nd,i){
                    latlngs.push(L.latLng(nd.lat,nd.lon));
                });
                deferred.resolve(latlngs);
            };

            if(name == "内环" && innerlatlngs) deferred.resolve(innerlatlngs);
            else if(name == "中环" && middlelatlngs) deferred.resolve(middlelatlngs);
            else if(name == "外环" && outerlatlngs) deferred.resolve(outerlatlngs);
            else if(name == "绕城高速" && surroundlatlngs) deferred.resolve(surroundlatlngs);
            else ME.Util.getCityRing(config,cb);

            return deferred;
            
        };

        $('.editor').click(function(){
            sorting.editOneData.call(sorting);
        });

        $('.create').click(function(){
            sorting.createOneData.call(sorting);
        });

        $('.save').click($.proxy(sorting.saveData, sorting));

        $(".innerring").click(function(){
            ringfn("内环").done(function(latlngs){
                innerlatlngs = latlngs;
                innerring.setLatLngs(latlngs);
                sorting.map.addLayer(innerring);
            });
        });

        $(".middlering").click(function(){
            ringfn("中环").then(function(latlngs){
                middlelatlngs = latlngs;
                return ringfn("内环");
            }).done(function(latlngs){
                innerlatlngs = latlngs;
                middlering.hollowPolygons[0].setLatLngs([middlelatlngs, innerlatlngs]);
                sorting.map.addLayer(middlering);
            });
        });
        $(".outerring").click(function(){
            ringfn("外环").then(function(latlngs){
                outerlatlngs = latlngs;
                return ringfn("中环");
            }).done(function(latlngs){
                middlelatlngs = latlngs;
                outerring.hollowPolygons[0].setLatLngs([outerlatlngs, middlelatlngs]);
                sorting.map.addLayer(outerring);
            });
        });
        $(".surroundcity").click(function(){
            ringfn("绕城高速").then(function(latlngs){
                surroundlatlngs = latlngs;
                return ringfn("外环");
            }).done(function(latlngs){
                outerlatlngs = latlngs;
                surroundcity.hollowPolygons[0].setLatLngs([surroundlatlngs, outerlatlngs]);
                sorting.map.addLayer(surroundcity);
            });
        });
    });
</script>
<div class="header">
    <span class="label">polygonCode</span>
    <p class="input polygonCode" contenteditable="true">ce29aead-f120-4ac9-a632-497aa95673d8</p>
    <span class="label">clientKey</span>
    <p class="input clientKey" contenteditable="true">aa1352ff-e2c3-490f-9dad-ec85a2255565</p>
    <span class="editor button">编辑</span>
    <span class="create button">创建新区域</span>
    <span class="save button">保存编辑</span>
    <span class="innerring button">内环</span>
    <span class="middlering button">中环</span>
    <span class="outerring button">外环</span>
    <span class="surroundcity button">绕城高速</span>
</div>
<div id="map"></div>
</body>
</html>